@model DeleteTurnViewModel
@{
    ViewData["Title"] = "Cancelación de turno";
}

<h1>Confirmar Cancelación - @ViewBag.FieldName</h1>      

<form asp-action="Delete" asp-controller="Turns">
    <div class="mb-3">
        <label asp-for="TurnDateTime" class="form-label"></label>
        <input asp-for="TurnDateTime" readonly class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Id de turno</label>
        <input type="text" class="form-control" asp-for="TurnId" readonly />
    </div>
    <input  type="hidden" asp-for="TurnId"/>

    <div class="mb-3">
        <label class="form-label">Id de cliente</label>
        <input type="text" class="form-control" asp-for="ClientId" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="text" class="form-control" asp-for="Price" readonly />
    </div>

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>