@using MisCanchas.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MisCanchas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MisCanchas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="~/css/customcss/customcss.css" asp-append-version="true" />
    <link rel="SHORTCUT ICON" href="~/Soccer_icon-icons.com_67819.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>
<body class="i_bg-light-success">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MisCanchas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i> Inicio</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movements" asp-action="index"><i class="bi bi-currency-dollar"></i> Caja</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-week-fill"></i> Turnos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Turns" asp-action="Index"><i class="bi bi-calendar-week-fill"></i> Ver turnos</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Turns" asp-action="Add"><i class="bi bi-calendar-plus-fill"></i> Reservar turno</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-people-fill"></i> Clientes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Clients" asp-action="Index"><i class="bi bi-people-fill"></i> Ver clientes</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Clients" asp-action="Add"><i class="bi bi-person-fill-add"></i> Nuevo cliente</a>
                                </li>
                                
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-graph-up"></i> Reportes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="index"><i class="bi bi-graph-up"></i> Inicio</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Month"><i class="bi bi-graph-up"></i> Reportes Mensuales</a>
                            </ul>
                        </li>

                        @if (User.IsInRole(Constants.RollAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SistemAdmin" asp-action="index"><i class="bi bi-gear-fill"></i> Administración</a>
                            </li>
                        }

                    </ul>

                    <partial name="_linksLogin" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>
    <div class="container">
        <footer class="border-top footer text-muted" >
            <div class="container">
                &copy; 2023 - MisCanchas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
