@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SigninManager

<ul class="navbar-nav">
    @if (SigninManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">@DateTime.Today.ToShortDateString()</span>
        </li>
        
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name</span>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="users">
                <button type="submit" class="nav-link btn bt-link text-dark">
                    Salir
                </button>

            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="users" asp-action="Regist">
                Registro
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="users" asp-action="Login">
                Login
            </a>
        </li>
    }

</ul>