@model AdminFieldViewModel

@{
    ViewData["Title"] = "Ajustes de Canchas";
}

<h1><i class="bi bi-info-circle-fill"></i> Administrar Canchas</h1>


<form method="post" asp-action="FieldsAdjust" asp-controller="SistemAdmin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="OpenHour" class="form-label">Horario de apertura:</label>
        <input asp-for="OpenHour" class="form-control" min="0" max="24" />
        <span asp-validation-for="OpenHour" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CloseHour" class="form-label">Horario de cierre:</label>
        <input asp-for="CloseHour" class="form-control"  min="0" max="24"/>
        <span asp-validation-for="CloseHour" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>