@model UserViewModel
@{
    ViewData["Title"] = "Editar Rol de usuario";
    Layout = "../shared/_layout";
}
@if (Model != null)
{
    <h1>Editar rol de usuario</h1>
    <hr />

    <form method="post">

        <div class="mb-3">
            <p class="form-label">UserName: @Model.UserName</p>
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" readonly class="form-control" />
        </div>
        <div class="mb-3">
            @if(Model?.IsAdmin == false)
            {
                <p class="form-label">Rol: @Model?.Role?.ToUpper()</p>
                <button class="btn btn-primary me-2" asp-action="TurnAdmin" asp-route-email="Email">Hacer Admin</button>
                <a class="btn btn-secondary" asp-action="List">Cancelar</a>
            }
            @if (Model?.IsAdmin == true)
            {
                <p class="form-label">Rol: @Model?.Role?.ToUpper()</p>
                <button class="btn btn-danger me-2" asp-action="RemoveAdmin" asp-route-email="Email">Remover Admin</button>
                <a class="btn btn-secondary" asp-action="List">Cancelar</a>
            }
        </div>
    </form>
}