@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<div class="card">
    <div class="card-body">
        <br />
        <h1 style="text-align: center">Bienvenido</h1>
        <br />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
            <br />
            <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-lg btn-success">Ingresar</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}